.meal-list{
  margin-left: 1em;
  margin-bottom: 7em;

  .meal{
    margin-left: 2em;
    margin-right: 3em;
    color: black;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    margin-top: 0.5em;
  }
}