@import './theme.scss';

.menu-containter {
  overflow-x: hidden;
}

.menu {
  height: 100vh;
  width: 20vw;
  margin-top: 60px;
  margin-right: -40vw;
  position: relative;
  background-color: $c-2;
  transition: 0.4s;
}

.menu-open {
  transform: translate(-20vw, 0);
  -webkit-transform: translate(-20vw, 0);
}