.scheduled-meal-message{
  font-size: 18pt;
}

.change-selected-meal-button{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #c19757;
    border-radius: 10px;
    height: 4em;
}